<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/static/css/main/registForm.css" rel="stylesheet">
    </head>
    <body>
        <form action="#">
            <div id="registForm" class="roundAction">
                <label for="id">input your Id
                    <br />
                    <input name="id">
                    <br />
                </label>
                <label for="passwd">input your passwd
                    <br />
                    <input name="passwd" />
                    <br />
                </label>
                <label for="sex">input your gender
                    <br />
                    <input name="sex" />
                    <br />
                </label>
                <label for="birthDay">input your birthDay
                    <br />
                    <input name="birthDay" />
                    <br />
                </label>
            </div>
            
        </form>
    </body>
</html>
